body{background:url(../img/fondo.jpg) no-repeat center center fixed;background-size: cover;}
.a,.b,.c{display:inline-block;width:33.33%;height:100%;float:left;}
.d{height:20%;width:100%;position:fixed;bottom:0px;}
#cohete1{display:inline-block;right:37%;position:fixed;top:5%;height:15%;z-index:1;}
#menu{padding: 1%;color:white;vertical-align: middle;}
#menu ul li{display:inline-block;vertical-align: middle;text-align: center;}
#menu img{padding-right: 2%;width:20%;}
#parametros{display:none;}


#luna{height:12%;width:60%;position:fixed;left:20%;bottom:0%;}

#info  {display:inline-block;float:right;width: 70px;height: 70px;text-align: center;font-size: 0%;background-repeat: no-repeat;background-size: 100%;}
#pausa {display:inline-block;margin-right: 5%;float:right;width: 70px;height: 70px;text-align: center;font-size: 0%;background-repeat: no-repeat;background-size: 100%;}
#reset {display:inline-block;margin-right: 4%;float:right;width: 70px;height: 70px;text-align: center;font-size: 0%;background-repeat: no-repeat;background-size: 100%;}

